
  <footer class="text-center text-black w-full my-4 py-4 bg-gray-300 xl:text-xl">
                <a href="https://t.me/Mr_justinthomas" target="_blank"> @Mr_justinthomas </a>
                <div class="ufb-notice--partner-logos--3HzrN"><img alt="Lyft" height="24" width="34" src="https://i.udemycdn.com/partner-logos/lyft-logo.svg"><img alt="adidas" height="24" width="36" src="https://i.udemycdn.com/partner-logos/adidas-logo.svg"><img alt="Eventbrite" height="18" width="99" src="https://i.udemycdn.com/partner-logos/eventbrite-logo.svg"><img alt="Surveymonkey" height="24" width="157" src="https://i.udemycdn.com/partner-logos/surveymonkey-logo.svg"><img alt="Booking" height="24" width="140" src="https://i.udemycdn.com/partner-logos/booking-logo.svg"></div>
            </footer>
            
        </div>
        
    </body>
</html>
